.carousel-container {
   max-width: 1180px;
	min-width: 200px;
	width: auto;
	height: auto;
	object-fit: contain;
	margin: 0px auto;
  font-family: arial;
}
.responsive-image {
	aspect-ratio: 1;
	object-fit: contain;
}
